<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - JSCodingStudy</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
</head>
<body>
    <script src="~/Scripts/jquery-3.5.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script>var FullBody = $('body');</script>

    <div class="navbar navbar-expand navbar-dark bg-dark">
        <div class="container">
            <div class="row w-100">
                <div class="col-6 text-left">
                    @Html.ActionLink("JSCodingStudy", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="col-6 text-right">
                    @Html.Partial("_UserPartial")
                </div>
            </div>
        </div>
    </div>

    <div class="container body-content">
        <div id="main_page_container">
            <script>
                var main_page_container = $('#main_page_container');
            </script>

            @RenderBody()
        </div>
        <hr id="lampc" />
        <footer>
            <p>&copy; Алексей Петров, 2020-2021</p>
        </footer>
    </div>

    <script>
        (function () {
            (function () {
                var nxt = $('#lampc');
                var navbar = $('.navbar');
                var footer = $('footer');

                var fbh = FullBody.outerHeight(true);
                var nbh = navbar.outerHeight(true);
                var fh = footer.outerHeight(true)
                var nh = nxt.outerHeight(true);

                var height = fbh - nbh - fh - nh;

                main_page_container.height(height);
            })();
        })();
    </script>

    @RenderSection("scripts", required: false)
</body>
</html>