@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    bool IsLesson = (bool)ViewBag.IsLesson;
    int LessonId = (int)ViewBag.LessonId;
}

<link rel="stylesheet" href="~/Content/RobotStyles/Styles.css" type="text/css" />

<div class="row align-items-center borders" id="page_top_row">
    <div class="col-5 borders">
        <div id="robot_display" class="display_table" align="center">
            display
        </div>
    </div>
    <div class="col-7 h-100 borders">
        <div class="row borders">
            <div class="col-4 borders">
                Действия:
            </div>
            <div class="col-8 borders">
                Задание:
            </div>
        </div>
        <div class="row h-100 borders">
            <div class="col-4 h-100 borders">
                <textarea id="log_display" readonly="true" class="form-control h-100 w-100"></textarea>
            </div>
            <div class="col-8 h-100 borders">
                <textarea class="form-control text-left h-100 w-100">@RenderSection("task")</textarea>
            </div>
        </div>
    </div>
</div>
<div class="row align-items-center borders" id="page_bottom_row">
    <div class="col-5 h-100 borders">
        <div class="borders">
            Код:
        </div>
        <div class="borders h-100">
            <textarea id="code_input" class="form-control text-left h-100 w-100"></textarea>
        </div>
    </div>
    <div class="col-7 h-100 text-center borders">
        <div class="row align-items-center h-100">
            <div class="col">
                <input type="button" id="run_button" value="Запуск" class="btn btn-primary">
                <input type="button" id="clear_button" value="Сброс" class="btn btn-primary">
                <input type="button" id="help_button" value="Помощь" class="btn btn-primary">
                @Html.ActionLink("Назад", "Index", "Menu", null, new { @class = "btn btn-primary" })
            </div>
        </div>
    </div>
</div>

<div id="result_container" class="position-absolute bg-light p-2 borders borders_inside" style="display: none;">
    <div id="result_message">
        Результат
    </div>
    <input type="button" id="save_result_button" value="Сохранить" class="btn btn-success">
    <input type="button" id="close_result_button" value="Продолжить" class="btn btn-primary">
</div>

<!-- Основные элементы -->
<script>
    var html_elements = {
        // Контейнер экрана робота.
        RobotDisplay: $('#robot_display'),
        // Элемент ввода кода.
        TextInput: $('#code_input'),
        // Элемент с логом.
        LogDisplay: $('#log_display'),
        // Кнопки.
        Buttons: {
            // Кнопка запуска.
            RunButton: $('#run_button'),
            // Кнопка сброса.
            ClearButton: $('#clear_button'),
            // Кнопка со справкой.
            HelpButton: $('#help_button'),
        }
    }
</script>

<!-- Подтягивание API переключателя всплывающих окошек -->
<script src="~/Scripts/Other/PopUpContainerToggle.js"></script>
<!-- Подтягивание API генерирования элементов -->
<script src="~/Scripts/Other/ElementsBuilder.js"></script>

<!-- Окошко помощи -->
<script type="module">
    import { GetHelpAPI } from '@Url.Content("~/Scripts/Robot/RobotHelp.js")';
    (function () {
        var help = GetHelpAPI();
        @RenderSection("help")

        var builder = CreateSpecificationBuilder();

        var help_cls_btn = builder.Clear()
            .SetTag('input')
            .SetAttrebute('type', 'button')
            .SetValue('X')
            .Parse();

        var help_text = builder.Clear()
            .SetTag('ul')
            .SetAttrebute('style', 'padding: 5px;')
            .AddInnerHtml(help_node)
            .Parse();

        var help_container = builder.Clear()
            .SetTag('div')
            .SetAttrebute('class', 'position-absolute bg-light p-2 borders borders_inside')
            .AddInnerHtml(help_cls_btn)
            .AddInnerHtml(help_text)
            .Parse();

        var toggle = PopUpToggleInit($(help_container), FullBody);

        $(help_cls_btn).click(toggle.Hide);
        html_elements.Buttons.HelpButton.click(toggle.ShowInCenter);

        main_page_container.append(help_container);
        $(help_container).hide()
    })();
</script>

<!-- Подтягивание API инифиализации функций для контейнера с результатом -->
<script src="~/Scripts/Other/ResultContainerFunctionsInit.js"></script>

<!-- Настройка окошка результата -->
<script>
    var ResultContainer = {
        ContainerElement: $('#result_container'),
        MessageElement: $('#result_message'),
        Buttons: {
            Save: $('#save_result_button'),
            Close: $('#close_result_button'),
        },
    };

    ResultContainer.Toggle = PopUpToggleInit(ResultContainer.ContainerElement, FullBody);

    ResultContainer.Functions = InitResultContainerFinctions(ResultContainer);

    ResultContainer.Buttons.Close.click(ResultContainer.Functions.Hide);
</script>

@if (IsLesson)
{
    @Html.Partial("_LessonAjaxScriptsPartial", LessonId)
}
else
{
    <!-- Для песочницы нельзя сохранить полученное решение -->
    <script>
        ResultContainer.Buttons.Save.hide();
    </script>
}

<!-- Подтягивание API и настройка робота -->
<script type="module">
    import * as RAPI from '@Url.Content("~/Scripts/Robot/RobotAPI/GeneralRobotAPI.js")';

    const delay = 100;

    @RenderSection("field_init")

    html_elements.RobotDisplay.html(RobotAPI.Field.FieldElement);

    html_elements.Buttons.ClearButton.click(RobotAPI.Reset);
    html_elements.Buttons.RunButton.click(function () {
        var code = html_elements.TextInput.val();

        function additional_result_check() {
            var res_int = RobotAPI.CheckResults();
            var res_str = RobotAPI.GetResultString(res_int);

            ResultContainer.Functions.Handle(res_int, res_str);

            @if (IsLesson)
            {
                @:if (res_int == 0) ResultContainer.Functions.SendSuccess();
            }
        }

        RobotAPI.Execute(code, additional_result_check);
    });
</script>

<!-- Установка пользовательского кода -->
<script>
    @RenderSection("user_code")
</script>

@section scripts {
    <!-- Растягивание "таблицы" на весь экран -->
    <script>
        (function () {
            var height = main_page_container.height();
            var hp = height / 3;

            $('#page_top_row').height(hp * 2);
            $('#page_bottom_row').height(hp);
        })();
    </script>
}